<%= form_for @report do |f| %>
  <% Report::FIELDS.each do |field| %>
    <div>
      <%= f.label field[:name], field[:display] %>
      <%= f.send(field[:type], field[:name]) %>
    </div>
  <% end %>

  <%= fields_for @report.address do |ff| %>
    <% Address::FIELDS.each do |field| %>
      <div>
        <%= ff.label field[:name], field[:display] %>
        <%= ff.send(field[:type], field[:name]) %>
      </div>
    <% end %>
  <% end %>

  <%= render "map", report: @report %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
