<%= form_for @report do |f| %>
  <div>
    <%= f.label :serial_number, "Serial Number" %>
    <%= f.text_field :serial_number %>
  </div>

  <div>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
