<%= link_to "All Reports", reports_path %>

<h2>Report <%= @report.created_at %></h2>

<% Report::FIELDS.each do |field| %>
  <div>
    <span> <%= field[:display] %> </span>
    <span> <%= @report.send(field[:name]) %> </span>
  </div>
<% end %>

<% if @report.photo.present? %>
  <div>
    <%= image_tag @report.photo.url %>
  </div>
<% end %>

<%= link_to "Edit Report", edit_report_path(@report) %>
