<%= link_to "All Reports", reports_path %>

<h2>Report <%= @report.created_at %></h2>

<% Report::FIELDS.each do |field| %>
  <div>
    <span> <%= field[:display] %> </span>
    <span> <%= @report.send(field[:name]) %> </span>
  </div>
<% end %>

<% Address::FIELDS.each do |field| %>
  <div>
    <span> <%= field[:display] %> </span>
    <span> <%= @report.address.send(field[:name]) %> </span>
  </div>
<% end %>

<%= render "map", report: @report %>

<% if @report.photo.present? %>
  <div>
    <%= image_tag @report.photo.url %>
  </div>
<% end %>

<p>
  <%= link_to "Edit Report", edit_report_path(@report) %>
  <%= link_to "Delete Report", report_path(@report), data: { confirm: 'Are you sure?'}, method: :delete %>
</p>

<p>
  <%= link_to "Generate Report", generate_report_path(@report, format: :pdf) %>
</p>
